* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #322153;
  font-size: 65.5%;
}
.container {
  max-width: 50rem;
  height: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  font-size: 3.5rem;
  color: white;
}
#longurl {
  font-size: 2rem;
  width: 80%;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: rgba(240, 248, 255, 0.3);
}
#short-btn {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: seagreen;
}
#short-btn:hover {
  background-color: #322153;
  color: white;
  cursor: pointer;
}
h2 {
  color: white;
}
p {
  color: white;
  margin-top: 3rem;
  font-size: 1rem;
}

#shorturl {
  width: 70%;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: rgba(240, 248, 255, 0.7);
  color: red;
  margin-right: 1rem;
}

.copy-img:hover {
  background-color: grey;
  cursor: pointer;
  border-radius: 10px;
}
.footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.3rem;
}
.icon {
  font-size: 2rem;
  border: none;
  border: 1px solid blue;
  box-shadow: 0px 0px 10px grey;
}
.icon:hover {
  cursor: pointer;

  background-color: grey;
  border-radius: 10%;
}
.clr-btn {
  font-size: 1rem;
  background-color: rgba(255, 0, 0, 0.6);
  padding: 0.7rem;
  border-radius: 1rem;
  margin-top: 1rem;
}
.clr-btn:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}
#copy-icon,
.icon {
  margin-right: 0.5rem;
}
@media (max-width: 650px) {
  .container {
    justify-content: flex-start;
    margin-left: 2rem;
  }
}
